import("gam")
import("graphics")
import("lattice")
import("leaps")
import("magrittr")
import("MASS")
import("nlme")
import("nnet")
importFrom("pls", "cppls", "mvr", "pcr", "plsr")
import("rpart")
import("stats")
import("survival")
exportPattern("^[[:alpha:]]+")
